@import "modules/fonts";
@import "modules/variables";
@import "modules/header";
@import "modules/components";
// @import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    margin: 0;
    padding: 0;
    min-width: 360px;
}

* {
    font-family: "Encode Sans", sans-serif;
    color: var(--grey);
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    @media (min-width: 992px) {
        font-size: 50px;
        line-height: 62px;
        letter-spacing: 0.5px;
    }
}
h2 {
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 127%;
    @media (min-width: 992px) {
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 56px;
    }
}

.container {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    @media (min-width: 560px) {
        padding: 0;
        max-width: 768px;
        margin: auto;
    }

    @media (min-width: 992px) {
        width: 100%;

        max-width: 860px;
    }
    @media (min-width: 1200px) {
        max-width: 1110px;
    }
}
.section {
    margin-bottom: 54px;
    @media (min-width: 992px) {
        margin-bottom: 104px;
    }
}
.section-cards-outline {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
        @media (min-width: 560px) {
            grid-gap: 30px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 768px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
.section-black {
    .container {
        border-radius: 8px;
        background-color: var(--grey);
    }
    .content {
        padding: 56px 46px;
        @media (min-width: 992px) {
            padding: 56px 64px;
        }
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 32px;
        justify-items: center;
        @media (min-width: 560px) {
            grid-gap: 60px;
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 992px) {
            grid-gap: 140px;
            grid-template-columns: repeat(3, 1fr);
        }
        margin-bottom: 40px;
        .card-digits {
            max-width: 240px;
        }
    }
    .btns {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        @media (min-width: 560px) {
            flex-direction: row;
        }
        .btn_blue {
            display: inline-flex;
            margin-bottom: 16px;
            @media (min-width: 560px) {
                display: none;
            }
        }
        .btn_white {
            display: none;
            @media (min-width: 560px) {
                display: inline-flex;
                margin-right: 30px;
                margin-bottom: 0;
            }
        }
    }
}
.section-list {
    h2 {
        margin-top: 0;
        margin-bottom: 24px;
        color: var(--grey);
        text-align: center;
        @media (min-width: 992px) {
            margin-bottom: 56px;
        }
    }
    .list {
        padding: 0;
        margin: 0;
        @media (min-width: 992px) {
            column-gap: 30px;
            column-count: 2;
        }
        &-item {
            margin-bottom: 8px;
            @media (min-width: 992px) {
                margin-bottom: 32px;
            }
        }
    }
    .content {
        margin-bottom: 32px;
    }
}
.section-chats {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
        justify-items: center;
        @media (min-width: 560px) {
            grid-gap: 30px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    h2 {
        text-align: center;
    }
}
.section-chats-second {
    margin-bottom: 48px;
    .cards {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        @media (min-width: 560px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .content {
        margin-bottom: 46px;
        @media (min-width: 992px) {
            margin-bottom: 88px;
        }
    }
    .content-bottom {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
        @media (min-width: 560px) {
            grid-gap: 0;
            grid-template-columns: unset;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (min-width: 768px) {
            flex-wrap: nowrap;
            justify-items: center;
            grid-gap: 30px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .colored-card {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        padding: 32px;
        @media (min-width: 560px) {
            width: calc((100% - 30px) / 2);
            margin-bottom: 16px;
        }
        @media (min-width: 768px) {
            margin-bottom: 0;
            width: 100%;
        }
        &_blue {
            @media (min-width: 560px) {
                margin-left: 30px;
            }
            @media (min-width: 768px) {
                margin-left: 0px;
            }
        }

        h4 {
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            text-align: center;
            color: #fff;
        }
        &_black {
            background: var(--grey);
            justify-self: center;
        }
        &_blue {
            background: var(--blue);
        }
    }
}
.section-copyright {
    .container {
        display: flex;
        justify-content: space-between;
    }
    p,
    time {
        margin: 0;
        padding: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--grey-op);
    }
    margin-bottom: 24px;
    @media (min-width: 992px) {
        margin-bottom: 32px;
    }
}
