@import "modules/fonts";
@import "modules/variables";
@import "modules/header";
@import "modules/components";
@import "modules/sections";
@import "./modules/footer";
// @import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    margin: 0;
    padding: 0;
    min-width: 360px;
}

* {
    font-family: "Encode Sans", sans-serif;
    color: var(--grey);
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.lock {
    overflow-y: hidden;
}
h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    @media (min-width: 992px) {
        font-size: 45px;
        line-height: 56px;
        letter-spacing: 0.5px;
    }
}
h2 {
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 24px;
    margin-bottom: 24px;
    line-height: 127%;
    @media (min-width: 992px) {
        font-size: 40px;
        line-height: 120%;
        margin-bottom: 56px;
    }
}

.container {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px);
    @media (min-width: 560px) {
        padding: 0;
        max-width: 768px;
        margin: auto;
    }

    @media (min-width: 992px) {
        width: 100%;

        max-width: 860px;
    }
    @media (min-width: 1200px) {
        max-width: 1110px;
    }
}
.section {
    margin-bottom: 54px;
    display: block;
    @media (min-width: 992px) {
        margin-bottom: 104px;
    }
    .title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 24px;
        color: var(--grey);
        text-align: center;
        @media (min-width: 768px) {
            margin-bottom: 56px;
        }
    }
    .subtitle {
        color: var(--grey-op);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 32px;
        max-width: 290px;
        @media (min-width: 768px) {
            font-size: 16px;
            line-height: 130%;
            margin-bottom: 56px;
            max-width: 540px;
        }
    }
}
