<section class="breadcrumbs">
    <div class="container">

        <ul class="breadcrumbs__list">
            {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumbs__item {{loop.index == 1 ? 'bold'}}">
                {% if breadcrumb.link %}
                <a href="{{ breadcrumb.link }}">
                    {{ breadcrumb.text }}
                </a>
                {% else %}
                {{ breadcrumb.text }}
                {% endif %}
            </li>

            {% endfor %}
        </ul>

    </div>
</section>