<section class=" section section-chats section-chats-second">
    <div class="container">
        <div class="content">
            <h2 class="title">Community Management 24/7 </h2>
            <div class="cards">
                {% for card in cards %}
                {% include '@root/includes/components/chat-card.twig' with {
                card
                } %}
                {% endfor %}

            </div>
        </div>
        {# <div class="content-bottom">
            <div class="colored-card colored-card_black">
                <h4>Telegram bot <br> @wowchatter_bot</h4>
                {% include '@root/includes/components/btn.twig' with {
                addClass:'black-other',
                svg:' <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21.1651 3.71694L3.4351 10.5539C2.22509 11.0399 2.23209 11.7149 3.2131 12.0159L7.7651 13.4359L18.2971 6.79094C18.7951 6.48794 19.2501 6.65094 18.8761 6.98294L10.3431 14.6839H10.3411L10.3431 14.6849L10.0291 19.3769C10.4891 19.3769 10.6921 19.1659 10.9501 18.9169L13.1611 16.7669L17.7601 20.1639C18.6081 20.6309 19.2171 20.3909 19.4281 19.3789L22.4471 5.15094C22.7561 3.91194 21.9741 3.35094 21.1651 3.71694Z" />
                </svg>',
                link:'#',
                text:'Telegram bot',

                } %}
            </div>
            <div class="colored-card colored-card_blue">
                <h4>Online form <br> Wowchatter</h4>
                {% include '@root/includes/components/btn.twig' with {
                link:'https://docs.google.com/forms/d/e/1FAIpQLScs7mabnbcGumyxEKnTgwSEWvk3K0LnfvcTZBPnkMw9asTR7g/viewform',
                text:'Online form',
                addClass:'blue btn_blue-other',
                svg:'
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.4"
                        d="M20.5 10.19H17.61C15.24 10.19 13.31 8.26 13.31 5.89V3C13.31 2.45 12.86 2 12.31 2H8.07C4.99 2 2.5 4 2.5 7.57V16.43C2.5 20 4.99 22 8.07 22H15.93C19.01 22 21.5 20 21.5 16.43V11.19C21.5 10.64 21.05 10.19 20.5 10.19Z"
                        fill-opacity="0.3" />
                    <path
                        d="M15.7997 2.20999C15.3897 1.79999 14.6797 2.07999 14.6797 2.64999V6.13999C14.6797 7.59999 15.9197 8.80999 17.4297 8.80999C18.3797 8.81999 19.6997 8.81999 20.8297 8.81999C21.3997 8.81999 21.6997 8.14999 21.2997 7.74999C19.8597 6.29999 17.2797 3.68999 15.7997 2.20999Z" />
                    <path
                        d="M13.5 13.75H7.5C7.09 13.75 6.75 13.41 6.75 13C6.75 12.59 7.09 12.25 7.5 12.25H13.5C13.91 12.25 14.25 12.59 14.25 13C14.25 13.41 13.91 13.75 13.5 13.75Z" />
                    <path
                        d="M11.5 17.75H7.5C7.09 17.75 6.75 17.41 6.75 17C6.75 16.59 7.09 16.25 7.5 16.25H11.5C11.91 16.25 12.25 16.59 12.25 17C12.25 17.41 11.91 17.75 11.5 17.75Z" />
                </svg>
                '

                } %}
            </div>
            <div class="colored-card colored-card_black">
                <h4>Support channel <br> @wowchatter</h4>
                {% include '@root/includes/components/btn.twig' with {
                addClass:'black-other',
                svg:' <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M21.1651 3.71694L3.4351 10.5539C2.22509 11.0399 2.23209 11.7149 3.2131 12.0159L7.7651 13.4359L18.2971 6.79094C18.7951 6.48794 19.2501 6.65094 18.8761 6.98294L10.3431 14.6839H10.3411L10.3431 14.6849L10.0291 19.3769C10.4891 19.3769 10.6921 19.1659 10.9501 18.9169L13.1611 16.7669L17.7601 20.1639C18.6081 20.6309 19.2171 20.3909 19.4281 19.3789L22.4471 5.15094C22.7561 3.91194 21.9741 3.35094 21.1651 3.71694Z" />
                </svg>',
                link:'https://t.me/wowchatter',
                text:'Support channel',

                } %}
            </div>
        </div> #}
    </div>
</section>