<section class=" section  section-social-activity {{addClass}}">
    <div class="container">
        <div class="content">
            <h2 class="title">{{socialActivitySection.title}}</h2>
            <div class="cards">
                {% for card in socialActivitySection.cards %}
                {% include '@root/includes/components/chat-card.twig' with {
                card
                } %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>