{% with {c:"section-video"} %}
<section class="{{c}} section">

    <div class="container">
        <h2 class="title">How does loyal community look</h2>
        <div class="{{c}}__content">
            {% include '@root/includes/components/video.twig' %}
        </div>


    </div>
</section>
{% endwith %}