.breadcrumbs {
    display: none;
    visibility: hidden;
    @media (min-width: 992px) {
        display: block;
        visibility: visible;
    }
    margin-top: 42px;
    margin-bottom: 24px;
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__item {
        position: relative;
        padding: 0 6px;
        margin-top: 5px;
        a {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: var(--grey-op);
        }
        &.bold {
            a {
                color: var(--grey);
            }
        }
        &::after {
            right: 0;
            top: 0;
            bottom: -3px;
            margin: auto 0;
            position: absolute;
            display: inline-block;
            width: 1px;
            height: 1.54em;
            color: var(--grey-op);
            content: "/";
            visibility: hidden;
        }
        &:not(:last-child) {
            &::after {
                visibility: visible;
            }
        }
    }
}
