.section-chats {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
        justify-items: center;
        @media (min-width: 560px) {
            grid-gap: 30px;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    h2 {
        text-align: center;
    }
    &.section-chats-other {
        .title {
            margin-bottom: 16px;
            @media (min-width: 768px) {
                margin-bottom: 24px;
            }
        }
    }
}
