.section-chat-with-text_right {
    .content {
        display: flex;
        flex-direction: column-reverse;
        @media (min-width: 768px) {
            flex-direction: unset;
            justify-content: space-between;
        }
    }
    .chat-card {
        @media (min-width: 768px) {
            max-width: calc((100% - 30px) / 2);
        }
    }
    .text {
        margin-bottom: 32px;
        @media (min-width: 768px) {
            margin-bottom: 0;
            max-width: calc((100% - 30px) / 2);
        }
        p {
            margin: 0;
            color: var(--grey-op);
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            @media (min-width: 992px) {
                font-size: 16px;
                line-height: 150%;
            }
        }
    }
}
