{% with {c:'btn'}%}
<a class="{{c}} btn_white" href="{{link}}">
    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M21.1651 3.71694L3.4351 10.5539C2.22509 11.0399 2.23209 11.7149 3.2131 12.0159L7.7651 13.4359L18.2971 6.79094C18.7951 6.48794 19.2501 6.65094 18.8761 6.98294L10.3431 14.6839H10.3411L10.3431 14.6849L10.0291 19.3769C10.4891 19.3769 10.6921 19.1659 10.9501 18.9169L13.1611 16.7669L17.7601 20.1639C18.6081 20.6309 19.2171 20.3909 19.4281 19.3789L22.4471 5.15094C22.7561 3.91194 21.9741 3.35094 21.1651 3.71694Z" />
    </svg>



    <span>{{text}}</span>

</a>
{% endwith %}