{% with {c:'link-with-icon-tg'}%}
<a class="{{c}}" href="{{link}}">
    <svg width=" 15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M13.2771 0.478002L1.45706 5.036C0.650389 5.36 0.655055 5.81 1.30906 6.01067L4.34372 6.95734L11.3651 2.52734C11.6971 2.32534 12.0004 2.434 11.7511 2.65534L6.06239 7.78934H6.06106L6.06239 7.79L5.85306 10.918C6.15972 10.918 6.29506 10.7773 6.46706 10.6113L7.94106 9.178L11.0071 11.4427C11.5724 11.754 11.9784 11.594 12.1191 10.9193L14.1317 1.434C14.3377 0.608002 13.8164 0.234002 13.2771 0.478002Z" />
    </svg>
    <span>{{text}}</span>

</a>
{% endwith %}