<li class="list-item">
    <div class="icon"> <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="0.5" width="12" height="12" rx="3" fill="#0062D4" />
        </svg>
    </div>
    <p class="text"> {{text}}</p>

</li>