<div class="promo">
    <span>Promo on:</span>
    <ul>
        <li>
            <a href="http://">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M34.38 14.1315L13.1207 22.2774C11.6698 22.8564 11.6782 23.6606 12.8545 24.0192L18.3126 25.7111L30.9411 17.794C31.5383 17.433 32.0838 17.6272 31.6354 18.0227L21.4038 27.198H21.4014L21.4038 27.1992L21.0273 32.7894C21.5788 32.7894 21.8223 32.538 22.1316 32.2414L24.7827 29.6798L30.2972 33.7271C31.314 34.2835 32.0443 33.9975 32.2973 32.7918L35.9172 15.84C36.2877 14.3638 35.3501 13.6954 34.38 14.1315Z" />
                </svg>
            </a>
        </li>
        <li>
            <a href="http://">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M32.8564 15.6795C31.1352 14.9033 29.2903 14.3296 27.361 14.0033C27.3438 14 27.326 14.0021 27.3101 14.0094C27.2942 14.0167 27.2809 14.0287 27.2721 14.0438C27.0359 14.4589 26.7726 15 26.5881 15.4275C24.5419 15.1218 22.4616 15.1218 20.4154 15.4275C20.2099 14.9538 19.9782 14.4918 19.7213 14.0438C19.7126 14.0285 19.6994 14.0162 19.6836 14.0086C19.6677 14.0009 19.6499 13.9983 19.6325 14.0011C17.7043 14.3273 15.8593 14.901 14.137 15.6784C14.1222 15.6846 14.1096 15.6952 14.101 15.7088C10.6001 20.8555 9.64049 25.8751 10.1119 30.8317C10.1132 30.8438 10.1169 30.8556 10.1229 30.8662C10.1289 30.8769 10.137 30.8862 10.1467 30.8936C12.1901 32.3813 14.4692 33.5146 16.8887 34.246C16.9055 34.2512 16.9236 34.2512 16.9404 34.2459C16.9573 34.2407 16.9722 34.2305 16.9832 34.2167C17.5029 33.5193 17.9664 32.7824 18.3624 32.0084C18.386 31.9634 18.3635 31.9094 18.3162 31.8914C17.5895 31.6178 16.8854 31.2875 16.2103 30.9037C16.1982 30.8968 16.1879 30.887 16.1806 30.8751C16.1732 30.8633 16.1688 30.8498 16.1679 30.8358C16.167 30.8219 16.1696 30.8079 16.1754 30.7952C16.1813 30.7826 16.1902 30.7715 16.2013 30.7631C16.343 30.6585 16.4848 30.5493 16.6198 30.4402C16.6319 30.4304 16.6466 30.4242 16.6621 30.4222C16.6776 30.4202 16.6933 30.4225 16.7075 30.429C21.1253 32.4134 25.9098 32.4134 30.2758 30.429C30.29 30.4222 30.3059 30.4195 30.3217 30.4213C30.3374 30.4231 30.3523 30.4292 30.3646 30.4391C30.4996 30.5493 30.6403 30.6585 30.7831 30.7631C30.7944 30.7713 30.8034 30.7822 30.8094 30.7948C30.8154 30.8074 30.8182 30.8213 30.8176 30.8352C30.8169 30.8491 30.8128 30.8627 30.8056 30.8746C30.7984 30.8866 30.7884 30.8966 30.7764 30.9037C30.1036 31.2907 29.4039 31.6181 28.6693 31.8903C28.658 31.8944 28.6478 31.9009 28.6392 31.9092C28.6306 31.9176 28.6239 31.9277 28.6195 31.9389C28.6151 31.9501 28.6132 31.9621 28.6139 31.9741C28.6145 31.9861 28.6177 31.9978 28.6232 32.0084C29.0282 32.7813 29.4917 33.517 30.0013 34.2156C30.0119 34.2299 30.0266 34.2407 30.0435 34.2463C30.0605 34.2519 30.0787 34.2522 30.0958 34.2471C32.5193 33.5177 34.8022 32.3839 36.8478 30.8936C36.8578 30.8866 36.8662 30.8776 36.8724 30.8671C36.8786 30.8566 36.8825 30.8449 36.8838 30.8328C37.4463 25.1022 35.9411 20.1231 32.8913 15.711C32.8838 15.6967 32.8715 15.6855 32.8564 15.6795ZM19.0227 27.8134C17.693 27.8134 16.5962 26.6108 16.5962 25.136C16.5962 23.66 17.6716 22.4586 19.0227 22.4586C20.3839 22.4586 21.4706 23.6702 21.4493 25.136C21.4493 26.612 20.3738 27.8134 19.0227 27.8134ZM27.9943 27.8134C26.6635 27.8134 25.5678 26.6108 25.5678 25.136C25.5678 23.66 26.6421 22.4586 27.9943 22.4586C29.3555 22.4586 30.4423 23.6702 30.4209 25.136C30.4209 26.612 29.3567 27.8134 27.9943 27.8134Z" />
                </svg>
            </a>
        </li>
        <li>
            <a href="http://">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M34.5223 19.9823C33.6497 19.9823 32.8818 20.343 32.3176 20.9073C30.2408 19.4704 27.4428 18.5455 24.3422 18.4466L25.9535 11.1867L31.0843 12.3385C31.0843 13.595 32.1082 14.6189 33.3647 14.6189C34.6445 14.6189 35.6741 13.566 35.6741 12.3094C35.6741 11.0529 34.6503 10 33.3647 10C32.4688 10 31.6951 10.541 31.3112 11.2798L25.6452 10.0233C25.3602 9.94765 25.081 10.1512 25.0053 10.4363L23.2369 18.4408C20.1596 18.5688 17.3906 19.4937 15.308 20.9305C14.7438 20.343 13.9468 19.9823 13.0742 19.9823C9.83986 19.9823 8.78113 24.322 11.7421 25.8054C11.6374 26.2649 11.5908 26.7536 11.5908 27.2422C11.5908 32.1171 17.0823 36.0669 23.8244 36.0669C30.5957 36.0669 36.0871 32.1171 36.0871 27.2422C36.0871 26.7536 36.0348 26.2417 35.9068 25.7821C38.8096 24.2929 37.7392 19.9823 34.5223 19.9823ZM16.4366 26.1137C16.4366 24.8339 17.4604 23.8043 18.746 23.8043C20.0025 23.8043 21.0264 24.8281 21.0264 26.1137C21.0264 27.3702 20.0025 28.394 18.746 28.394C17.4662 28.3999 16.4366 27.3702 16.4366 26.1137ZM28.9029 31.5528C26.7854 33.6702 20.8111 33.6702 18.6937 31.5528C18.461 31.3492 18.461 30.9885 18.6937 30.7558C18.8973 30.5522 19.2579 30.5522 19.4615 30.7558C21.0787 32.4137 26.4422 32.4428 28.1292 30.7558C28.3328 30.5522 28.6935 30.5522 28.8971 30.7558C29.1356 30.9885 29.1356 31.3492 28.9029 31.5528ZM28.8563 28.3999C27.5998 28.3999 26.576 27.376 26.576 26.1195C26.576 24.8397 27.5998 23.8101 28.8563 23.8101C30.1361 23.8101 31.1658 24.8339 31.1658 26.1195C31.16 27.3702 30.1361 28.3999 28.8563 28.3999Z" />
                </svg>
            </a>
        </li>
        <li>
            <a href="http://">
                <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M23.4969 19.665C21.3853 19.665 19.662 21.3883 19.662 23.5C19.662 25.6117 21.3853 27.335 23.4969 27.335C25.6085 27.335 27.3318 25.6117 27.3318 23.5C27.3318 21.3883 25.6085 19.665 23.4969 19.665ZM34.9987 23.5C34.9987 21.9119 35.0131 20.3382 34.9239 18.753C34.8347 16.9118 34.4147 15.2777 33.0683 13.9313C31.7191 12.582 30.0879 12.1648 28.2467 12.0757C26.6586 11.9865 25.085 12.0009 23.4998 12.0009C21.9117 12.0009 20.3381 11.9865 18.7529 12.0757C16.9117 12.1648 15.2776 12.5849 13.9312 13.9313C12.582 15.2806 12.1648 16.9118 12.0757 18.753C11.9865 20.3411 12.0009 21.9148 12.0009 23.5C12.0009 25.0852 11.9865 26.6618 12.0757 28.247C12.1648 30.0882 12.5849 31.7223 13.9312 33.0687C15.2805 34.418 16.9117 34.8352 18.7529 34.9243C20.341 35.0135 21.9146 34.9991 23.4998 34.9991C25.0878 34.9991 26.6615 35.0135 28.2467 34.9243C30.0879 34.8352 31.7219 34.4151 33.0683 33.0687C34.4176 31.7194 34.8347 30.0882 34.9239 28.247C35.016 26.6618 34.9987 25.0881 34.9987 23.5ZM23.4969 29.4006C20.2316 29.4006 17.5964 26.7653 17.5964 23.5C17.5964 20.2347 20.2316 17.5994 23.4969 17.5994C26.7622 17.5994 29.3974 20.2347 29.3974 23.5C29.3974 26.7653 26.7622 29.4006 23.4969 29.4006ZM29.6391 18.7358C28.8767 18.7358 28.261 18.1201 28.261 17.3577C28.261 16.5953 28.8767 15.9797 29.6391 15.9797C30.4014 15.9797 31.0171 16.5953 31.0171 17.3577C31.0173 17.5388 30.9818 17.7181 30.9127 17.8854C30.8435 18.0526 30.742 18.2047 30.614 18.3327C30.486 18.4607 30.334 18.5622 30.1667 18.6313C29.9994 18.7005 29.8201 18.736 29.6391 18.7358Z" />
                </svg>
            </a>
        </li>
        <li>
            <a href="http://">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M38.4101 17.2568C38.245 16.632 37.9225 16.0623 37.4745 15.6042C37.0266 15.1462 36.4689 14.8158 35.857 14.646C33.5879 14.0104 24.51 14 24.51 14C24.51 14 15.4337 13.9897 13.1631 14.5973C12.5515 14.7749 11.995 15.1099 11.5469 15.5702C11.0988 16.0305 10.7742 16.6006 10.6042 17.2257C10.0058 19.5408 10 24.3424 10 24.3424C10 24.3424 9.99421 29.1676 10.5883 31.459C10.9216 32.7259 11.8996 33.7268 13.1428 34.0682C15.4351 34.7039 24.4883 34.7143 24.4883 34.7143C24.4883 34.7143 33.5661 34.7246 35.8352 34.1185C36.4474 33.949 37.0056 33.6194 37.4547 33.1623C37.9037 32.7052 38.228 32.1364 38.3956 31.5122C38.9954 29.1987 38.9998 24.3985 38.9998 24.3985C38.9998 24.3985 39.0288 19.5718 38.4101 17.2568ZM21.6063 28.7906L21.6135 19.9207L29.1583 24.3631L21.6063 28.7906Z" />
                </svg>
            </a>
        </li>
        <li>
            <a href="http://">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M34.4316 19.192C34.4481 19.4204 34.4481 19.6475 34.4481 19.8746C34.4481 26.8247 29.2921 34.8333 19.8694 34.8333C16.9664 34.8333 14.2695 33.9706 12 32.4723C12.4122 32.5205 12.8091 32.5375 13.2378 32.5375C15.5442 32.5432 17.7852 31.752 19.5997 30.2913C18.5304 30.2714 17.4938 29.9095 16.6347 29.2559C15.7756 28.6024 15.1368 27.6899 14.8076 26.6459C15.1244 26.6942 15.4424 26.7268 15.7757 26.7268C16.2349 26.7268 16.6967 26.6616 17.1254 26.548C15.9649 26.3076 14.9214 25.6623 14.1723 24.7217C13.4232 23.7811 13.0148 22.6033 13.0164 21.3886V21.3234C13.6996 21.7136 14.4921 21.9577 15.3317 21.9903C14.6283 21.5108 14.0516 20.8601 13.6529 20.0962C13.2543 19.3324 13.0461 18.4792 13.047 17.6127C13.047 16.6365 13.3001 15.7411 13.7441 14.9606C15.0317 16.5856 16.6376 17.915 18.4578 18.8627C20.278 19.8104 22.2719 20.3552 24.3105 20.462C24.2316 20.0704 24.1832 19.6645 24.1832 19.2573C24.1829 18.5668 24.3152 17.883 24.5726 17.245C24.83 16.607 25.2074 16.0273 25.6833 15.5391C26.1592 15.0508 26.7242 14.6636 27.3461 14.3995C27.9679 14.1354 28.6344 13.9997 29.3074 14C30.7831 14 32.115 14.6343 33.0513 15.6602C34.1985 15.4326 35.2986 15.0029 36.3029 14.3903C35.9205 15.6051 35.1195 16.6353 34.0499 17.2878C35.0674 17.1687 36.0617 16.8942 37 16.4733C36.2992 17.5215 35.4308 18.4407 34.4316 19.192Z" />
                </svg>
            </a>
        </li>
    </ul>
</div>